@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<h4>PASTI AL-UWAIES</h4>
<div class="author-title">VISION</div>
<p>Generating Salute People in Malaysia through pre-school education as the most important element</p>
<div class="author-title">MISION</div>
<p>Enhancing the quality of teaching and learning, management and quantity of PASTI in Malaysia to make the choice of choice to the loving community of Islamic education</p>
