@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <p>Address</p>
        <p><span> Tadika Pasti Al-Uwaies,<br />No.39, Jalan Universiti 10,<br />86400 Parit Raja,Johor</span></p>
</address>
