@{
    ViewBag.Title = "Home Page";
}


<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
    <!-- Custom styles for this template -->
    <link href="css/jquery.bxslider.css" rel="stylesheet" />
    <link href="css/style.css" rel="stylesheet" />
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("report", "Column", "GoogleChart")</li>

                    <li><a href="#section1">About Us</a></li>
                    <li><a href="#section2">Contact Us</a></li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <form id="form1" runat="server">
        <div>



            <br />
            <br />
            <div class="container">
                >

                <div class="center2">

                    <ul class="bxslider">

                        <li><div class="slider-item"><img src="image\pasti1.jpg" style="width:100%" /></div></li>
                    </ul>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <!-- sidebar-widget -->
                        <div class="main" id="section1">
                            <div class="sidebar-widget">
                            </div>
                            <h3 class="sidebar-title">About Us</h3>

                            <div class="widget-container widget-about">
                                <a href="#"><img style="width:300px;height:200px" class="center" src="image/3.jpg" alt="" /></a>
                                <h4>PASTI AL-UWAIES</h4>
                                <div class="author-title">VISION</div>
                                <p>Generating Salute People in Malaysia through pre-school education as the most important element</p>
                                <div class="author-title">MISION</div>
                                <p>Enhancing the quality of teaching and learning, management and quantity of PASTI in Malaysia to make the choice of choice to the loving community of Islamic education</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <!-- sidebar-widget -->
                        <div class="main" id="section1">
                            <div class="sidebar-widget">
                            </div>
                            <h3 class="sidebar-title">Surah & Hadis</h3>

                            <div class="widget-container widget-about">
                                <a href="#"><img style="width:350px;height:400px" class="center" src="image/5.png" alt="" /></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="main" id="section2">
                            <div class="sidebar-widget">
                            </div>
                            <h3 class="sidebar-title">Contact Us</h3>
                            <br />
                            <br />

                            <div class="widget-container">
                                <article class="widget-post">
                                    <div class="post-image">
                                        <img src="image/school.jpg" alt="" />
                                    </div>
                                    <p>Address</p>
                                    <div class="post-meta">
                                        <p><span> Tadika Pasti Al-Uwaies,<br />No.39, Jalan Universiti 10,<br />86400 Parit Raja,Johor</span></p>
                                    </div>

                                </article>
                                <article class="widget-post">
                                    <div class="post-image">
                                        <img src="image/phone.png" alt="" />
                                    </div>
                                    <div class="post-body">
                                        <p>Phone Number</p>
                                        <div class="post-meta">
                                            <p><span> 07-4355110</span></p>
                                        </div>
                                    </div>
                                </article>
                                <article class="widget-post">
                                    <div class="post-image">
                                        <img src="image/tphone.png" alt="" />
                                    </div>
                                    <div class="post-body">
                                        <p>Telephone Number</p>
                                        <div class="post-meta">
                                            <p><span> 013-7780061</span></p>
                                        </div>
                                    </div>

                                </article>
                                <article>
                                    <div class="widget-container">
                                        <div class="widget-socials">
                                            <a href="https://www.facebook.com/Pastimalaysiaofficial/"><i style="font-size:large" class="fa fa-facebook"></i>acebook</a>

                                        </div>
                                    </div>
                                </article>

                            </div>
                        </div>
                    </div>

                    <section>
                        <div class="row">
                            <div class="container">
                                <article class="blog-post">
                                    <div class="blog-post-image">
                                        <a href="#"><img src="image\pasti8.jpg" alt="" /></a>
                                    </div>
                                    <div class="blog-post-body">
                                        <h2><a href="#">OBJECTIVE OF PASTI AL-UWAIES</a></h2>
                                        <ul>
                                            <li> <h3>Educating the soul and intellect of children with Islamic teachings is based on the teachings of the Quran and Hadith.</h3></li>
                                            <li> <h3>Guiding children to live up to worship, morals and tend to do things and leave false.</h3></li>
                                            <li> <h3>Train children to read, memorize and live the Quran, prayer and remembrance.</h3></li>
                                        </ul>

                                    </div>
                                </article>
                                <!-- article -->
                                <article class="blog-post">
                                    <div class="blog-post-image">
                                        <a href="#"><img src="image/4.jpg" alt="" /></a>
                                    </div>
                                    <div class="blog-post-body">
                                        <h2><a href="#">Field of Study</a></h2>
                                        <ul>
                                            <li> <h3>Pra Tahfiz</h3></li>
                                            <li> <h3>Nurul Quran</h3></li>
                                            <li> <h3>KAFFAH (Fardu Ain and Fardu Kifayah Class)</h3></li>
                                        </ul>

                                    </div>
                                </article>
                                <!-- article -->
                                <article class="blog-post">
                                    <div class="blog-post-image">
                                        <a href="#"><img src="image/pasti7.jpg" alt="" /></a>
                                    </div>
                                    <div class="blog-post-body">
                                        <h2><a href="#">School System</a></h2>
                                        <ul>
                                            <li><h3> Age : PASTI accept children aged 4.5 and 6 years old.</h3></li>
                                            <li><h3> Learning Time : 3 hours and 30 minutes include recess</h3></li>
                                            <li><h3> School Days : Same as usual shool days ( Sunday - Thursday )</h3></li>
                                        </ul>
                                    </div>

                                </article>
                            </div>

                        </div>
                    </section>

                </div>


            </div><!-- /.container -->


        </div>

        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/jquery.bxslider.js"></script>
        <script src="js/mooz.scripts.min.js"></script>

    </form>
</body>

